*{
	padding: 0px;
	margin: 0px;
}
body{
	font-family: 'Source Sans Pro', sans-serif;
	font-size:14px;
	line-height: 24px;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Lato', sans-serif;
}
a, a:hover{
	text-decoration: none;
}

/*header section css code start*/

.header-section{
	width: 100%;
}
.top-header{
	width: 100%;
	padding: 10px 0px;
	background:#f5f7fa;
}
.top-header .info-inner{
	display: block;
	margin: 0px;
}
.top-header .info-inner li{
	list-style: none;
	display: inline-block;
	padding-right: 15px;
}
.top-header .info-inner li a{
    color: #8494a6;
    font-size: 15px;
    font-weight: 700;
}
.top-header .info-inner li a .fa{
	padding-right: 5px;
}
.top-header .social-icon{
	text-align: right;
	display: block;
	margin: 0px;
}
.top-header .social-icon li{
	list-style: none;
	display: inline-block;
	padding-left: 18px;
}
.top-header .social-icon li a{
	color: #8494a6;
    font-size: 15px;
    font-weight: 700;
}

.bg-light {
    background-color: #fff !important;
 }
 .navbar{
 	padding: 1.5rem 0rem;
 }
 .navbar-nav{
 	padding-left: 90px;
 }
.nav-link {
    margin-right: 15px;
    font-size: 15px;
    font-weight: 700;
    color: #506a85;
    text-transform: uppercase;
}
.navbar-light .navbar-nav .active>.nav-link{
	color:  #506a85;
	 font-weight: 600;
}
.right-search .fa{
	color: #506a85;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #00bc9c;
}

/*slider css code start*/

.slider{
	width: 100%;
}
.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 30%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
 }
 .carousel-caption h2 {
    font-size: 50px;
    line-height: 60px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
}
.carousel-caption p {
    font-size: 17px;
    line-height: 24px;
    font-weight: 400;
    color: #a3b1bf;
}
 .carousel-caption .btn-info {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    padding: 10px 35px;
    border-radius: 2px;
    margin-top: 32px;
    border:1px solid  #00bc9c;
    background:#00bc9c;
    color: #fff;
    transition: .45s;
}
.carousel-caption .btn-info:hover, .carousel-caption .btn-info:focus{
 	border:1px solid  #00bc9c;
    background:transparent;
    color: #00bc9c;
}
.right-info{
	text-align: right;
}
.right-info h2{
	color: #ffffff;
}
.right-info p{
	color: #ffffff;
}
.left-info{
	text-align: left;
	position: absolute;
	left: 13%;
}
.left-info h1{
	font-size: 70px;
    line-height: 80px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    color: #506a85;
    /*background:#506a85;*/
  /*  padding: 5px 10px;*/
}

.left-info p{
	 font-size: 24px;
    line-height: 34px;
    font-weight: 400;
    color: #506a85;
}
.left-item .btn-info{
	font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 15px 65px;
    border-radius: 2px;
    margin-top: 32px;
    border:1px solid  #00bc9c;
    background:#00bc9c;
    color: #fff;
    transition: .45s;
}

/*who-we-are css start*/
.who-we-are{
	width: 100%;
	padding: 80px 0px;
}
.who-we-are .title{
	width: 100%;
	text-align: center;
}
.who-we-are .title h1{
	 font-size: 30px;
    line-height: 40px;
    text-transform: capitalize;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 20px;
    color: #506a85;
}
.who-we-are .title p{
	 font-size: 17px;
    line-height: 24px;
    font-weight: 400;
    color: #506a85;
} 
.who-we-are .media{
	width: 100%;
	 margin-top: 40px;
}
.who-we-are .media .media-body {
    padding-left: 15px;
}
.who-we-are .media .media-body h5{
	font-size: 22px;
    line-height: 32px;
    text-transform: capitalize;
    font-weight: 400;
    margin-bottom: 18px;
    color: #506a85;
}
.who-we-are .media .media-body p{
	font-size: 15px;
    line-height: 25px;
    font-weight: 400;
    color: #506a85;
}
.who-we-are .media img {
    margin-top: 3px;
}

/*works css gose here*/

.works{
    width: 100%;
    padding: 80px 0px;
    background:#f2f5f7;
}
.works .title{
    width: 100%;
    text-align:center;
}
.works .title h1{
    font-size: 35px;
    line-height: 45px;
    font-weight: 500;
    margin-bottom: 18px;
    color: #506a85;
}
.works .title p{
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    margin-bottom: 50px;
    color: #73879c;
}
.works .card-img, .card-img-top {
    border-radius: 0px;
}
.works .card-body{
    text-align: center;
}
.works .card-body h5{
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    color: #506a85;
}
.works .card-body p{
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #73879c;
}
.works .owl-carousel{
    margin-top: 50px;
}
.works .owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 25px;
}
.works .owl-theme .owl-dots .owl-dot.active span,.works .owl-theme .owl-dots .owl-dot:hover span{
    background:#00bc9c;
}

/*get-in-touch css start*/

.get-in-touch{
    width: 100%;
    padding: 80px 0px;  
}
.get-in-touch .title{
    width: 100%;
    text-align: center;
}
.get-in-touch .title h1{
    font-size: 32px;
    line-height: 42px;
    font-weight: 500;
    color: #506a85;
    margin-bottom: 20px;
}
.get-in-touch .title p{
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    color: #73879c;
    margin-bottom: 20px;
}
.get-in-touch .title .btn-info{
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 5px;
    border:1px solid #00bc9c;
    background:#00bc9c;
    color: #fff;
    transition: .45s;
}
.get-in-touch .title .btn-info:hover{
    background:transparent;
    color: #00bc9c;
    border:1px solid #00bc9c;
}

/*footer css gose here*/
.footer-section{
    width: 100%;
}
.footer-section .top-footer{
    width: 100%;
    padding: 80px 0px;
    background:#2f4052;
}
.footer-section .top-footer .widget{
    width: 100%;
}
.footer-section .top-footer .widget h4{
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 15px;
}
.footer-section .top-footer .widget p{
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    color: #a3b1bf;
    margin:10px 0px;
}
.footer-section .top-footer .widget .link{
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #a3b1bf;
    transition: .45s;
}
.footer-section .top-footer .widget .link:hover{
    color: #00bc9c;
}
.footer-section .top-footer .widget .link .fa{
    margin-left: 10px;
}
.footer-section .top-footer .widget .no-mar{
    padding-right: 10px;
    padding-left: 10px;
}
.footer-section .top-footer .widget .card-group .card{
    border-radius: 0px;
    border: 0px solid rgba(0,0,0,.125);
    margin: 5px 5px;
}
.footer-section .top-footer .widget ul{

}
.footer-section .top-footer .widget ul li{
    list-style: none;
}
.footer-section .top-footer .widget ul li a{
    font-size: 14px;
    color:  #a3b1bf;
}
.footer-section .top-footer .widget ul li a .fa{
    padding-right: 10px;
}
.footer-section .top-footer .widget .form .mx-sm-3 {
    margin-left: 0px !important;
}
.footer-section .top-footer .widget .form .form-control{
    width: 100%;
    font-size: 13px;
    font-weight: 600;
    padding: 20px 5px;
    background: #4e5c6c;
    color: #4e5c6c;
}
.footer-section .top-footer .widget .form .btn-primary {
    color: #fff;
    background-color: #00bc9c;
    border-color: #00bc9c;
    position: absolute;
    right: 12%;
    top: 45%;
    padding: 6px 10px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    transition: .45s;
}
.footer-section .top-footer .widget .form .btn-primary:hover{
    background:transparent;
    color: #00bc9c;
    border:1px solid #00bc9c;
}
.footer-section .low-footer{
    width: 100%;
    padding: 30px 0px;
    background:#283645;
}
.footer-section .low-footer .copyright{
    font-size: 14px;
    font-weight: 600;
    color: #707e8c;
    margin: 0px;
}
.footer-section .list-item{
    width: 100%;
    text-align: right;
}
.footer-section .list-item ul{
    display: block;
    margin: 0px;
    color: #707e8c;
}
.footer-section .list-item ul li{
    display: inline-block;
    list-style: none;
}
.footer-section .list-item ul li a{
    font-size: 14px;
    font-weight: 600;
    color: #707e8c;
    margin-left: 5px;
    margin-right: 5px;
}
.arrow-1{
    width: 100%;
    
}
.arrow-1 .fa{
    position: absolute;
    right: 1%;
    top: 451%;
}
.fa-chevron-up:before {
    content: "\f077";
    color:#949ba2;
    background: #3c5065;
    padding: 10px 10px;
}